mixin main-screen()
  .main-screen
    .container
      .main-screen__container
        .main-screen__left
          .logo-text
            img(src="img/svg/ujjo-sauce.svg", width=697, height=425, alt="Logo ujjo sauce")
          .marquee-text
            .marquee(behavior="scroll" direction="left")
              .marquee-content
                span.text put some fire in your belly
                +icon("icon-pepper", 64, 30)
          .image-left
            +img("content", "ujjo-sauce-img-1", "jpg", 657, 436, "Sauce photo on the table")
        .main-screen__right
          .heading-text
            h1.title.title--h1 THE FIRST HOT SAUCE MADE FOR COFFEE
          .image-right
            +img("content", "ujjo-sauce-img-2", "jpg", "Ujjo sauce in hand")
