mixin marquee()
  .marquee(behavior="scroll" direction="left")
    .marquee-content
      span.text put some fire in your belly
      +icon("icon-pepper", 64, 30)
      //- span.text put some fire in your belly
      //- +icon("icon-pepper", 64, 30)
      //- span.text put some fire in your belly
      //- +icon("icon-pepper", 64, 30)
