mixin variant()
  .variant
    .container
      .variant__content
        +icon("icon-ujjo", 26, 36).variant__cont-icon-bg
        .variant__item
          img(src="img/svg/green-frame.svg" class="variant__item-bg")
          .variant__item-content

            span tangy and tingly
            h3.title.title--h3 LIGHT ROAST BLEND
            img(src="img/content/ujjo-sauce-bottle.png")
          +icon("icon-ujjo-2", 37, 72).variant__item-icon-bg

        .variant__item
          img(src="img/svg/green-frame.svg" class="variant__item-bg")
          .variant__item-content
            span light & dark roast
            h3.title.title--h3 UJJO SAMPLER PACK
            img(src="img/content/ujjo-sauce-bottle-2.png")
          +icon("icon-ujjo-2", 37, 72).variant__item-icon-bg

        .variant__item
          img(src="img/svg/green-frame.svg" class="variant__item-bg")
          .variant__item-content
            span tangy and tingly
            h3.title.title--h3 DARK ROAST BLEND
            img(src="img/content/ujjo-sauce-bottle-3.png")
        +icon("icon-ujjo", 26, 36).variant__cont-icon-bg
