.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  &--bg-red {
    background-color: $color-radical-red;
    min-width: 157px;
    min-height: 52px;
    color: $color-default-white;
    text-transform: uppercase;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
