.promo {


  &__content {
    padding: 59px 29px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    border: 1px solid $color-default-black;
    border-top: 0.5px solid $color-default-black;
    border-bottom: 0.5px solid $color-default-black;
  }

  .title--h2 {
    width: 785px;
    margin: 0;
  }
}


