.title {
  color: $color-default-black;
}

.title--h1 {
  font-size: 58px;
  line-height: 64px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.title--h2 {
  font-size: 65px;
  line-height: 73px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}
