.ujjo-poster {
  height: 100%;
  margin-top: -180px;
  z-index: -1;
  position: relative;

  .container {
    display: flex;
  }
  svg {
    // border-top: 1px solid $color-default-black;
    border-left: 1px solid $color-default-black;
    border-right: 1px solid $color-default-black;
    // height: 100%;
  }
}
