mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container
      .footer__nav
        a(href="#") privacy
        p.copyright ujjo llc, columbus oh, 43219
        a(href="#") instagram

