mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Story"
      },
      {
        href: "#",
        text: "Shop"
      },
      {
        href: "#",
        text: "Contact"
      },
      {
        href: "#",
        text: "Wholesale"
      },
    ]

  header.header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        //- span.header__logo Логотип
      else
        a.header__logo(href="index.html", aria-label="Переход на главную") Логотип
      nav.main-nav
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 20, 20)
        .main-nav__wrapper
          button.main-nav__btn.btn.btn--bg-red(type="button", aria-label="Go back", aria-pressed="false") GO BACK
          ul.main-nav__list
            each link, index in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active= link.text
                else
                  a.main-nav__link(href=link.href)= link.text

              // Добавляем логотип после второй ссылки (index = 1)
              if index === 1
                li.main-nav__item.main-nav__logo
                  img(src="img/svg/logo-ujjo.svg", alt="Logo", width=59, height=68)
          button.main-nav__btn.btn.btn--bg-red(type="button", aria-label="Clone", aria-pressed="false") CLONE
